.projects {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects .list {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: stretch;
  gap: 2ch;
}

@media screen and (min-width: 701px) {
  .projects .list {
    width: 60%;
    justify-content: space-evenly;
  }
}
