.portfolio-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 600;
  max-width: 500px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.623);
}

.portfolio-item .image-container {
  width: 100%;
  flex: 1;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.image-container img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: fill;
}

.portfolio-item .content-container {
  color: white;
  padding: 1rem 1.5rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.content-container .tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0;

  .tag {
    display: inline;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0 1rem;
  }
}

.media-icons {
  display: flex;
  padding: inherit;
  justify-content: flex-end;
  align-items: self-end;
}

.media-icons .icon {
  color: grey;
}

/* Media query for iPad horizontal */
@media screen and (max-width: 1100px) {
  .portfolio-item {
    max-width: 400px;
    max-height: 700px;
  }
}

/* Media query for iPad vertical */
@media screen and (max-width: 768px) {
  .portfolio-item {
    max-width: 300px;
    max-height: 600px;
  }
}

/* Media query for mobile horizontal */
@media screen and (max-width: 767px) {
  .portfolio-item {
    max-width: 300px;
    max-height: 600px;
  }
}

/* Media query for mobile vertical */
@media screen and (max-width: 480px) {
  .portfolio-item {
    max-width: 300px;
    max-height: 400px;
  }
}