.social-icons {
  display: flex;
  justify-content: space-between;
}

.icon-hitbox {
  display: grid;
  width: fit-content;
  height: fit-content;
}

.icon-background {
  position: absolute;
  color: white; /* Set the background color */
}

.icon-foreground {
  position: relative;
  top: 0;
  left: 0;
  color: #333; /* Set the foreground color */
}
