:root {
  --primary-color: #003d60;
  --secondary-color: #e9d5a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
