:root {
  --primary-color: #49274A;       /* Deep navy */
  --secondary-color: #F8EEE7;        /* Soft coral (energizing but not loud) */
  --nav-color: #f4DEC8;        /* Or use a soft gray like #f0f2f5 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
